In [1]:
import pandas as pd
df = pd.read_csv("../data/HAM10000_metadata.csv")
classes = sorted(df["dx"].unique())
label2id = {label: idx for idx, label in enumerate(classes)}
df['label'] = df['dx'].map(label2id)
# df.to_csv("enc_HAM10000_metadata.csv", index=False)

In [2]:
df

,lesion_id,image_id,dx,dx_type,age,sex,localization,label
0,HAM_0000118,ISIC_0027419,bkl,histo,80.0,male,scalp,2
1,HAM_0000118,ISIC_0025030,bkl,histo,80.0,male,scalp,2
2,HAM_0002730,ISIC_0026769,bkl,histo,80.0,male,scalp,2
3,HAM_0002730,ISIC_0025661,bkl,histo,80.0,male,scalp,2
4,HAM_0001466,ISIC_0031633,bkl,histo,75.0,male,ear,2
...,...,...,...,...,...,...,...,...
10010,HAM_0002867,ISIC_0033084,akiec,histo,40.0,male,abdomen,0
10011,HAM_0002867,ISIC_0033550,akiec,histo,40.0,male,abdomen,0
10012,HAM_0002867,ISIC_0033536,akiec,histo,40.0,male,abdomen,0
10013,HAM_0000239,ISIC_0032854,akiec,histo,80.0,male,face,0
10014,HAM_0003521,ISIC_0032258,mel,histo,70.0,female,back,4

In [3]:
# lista de classes
# dicionario de metricas
# quero logar 3 metricas por classe ao longo do treino/validacao

# for class in classes => for metric in metrics => log[class_metric]

In [7]:

df['label'].value_counts()

label
5    6705
4    1113
2    1099
1     514
0     327
6     142
3     115
Name: count, dtype: int64

In [8]:
df['dx'].value_counts()

dx
nv       6705
mel      1113
bkl      1099
bcc       514
akiec     327
vasc      142
df        115
Name: count, dtype: int64

In [9]:
label2id

{'akiec': 0, 'bcc': 1, 'bkl': 2, 'df': 3, 'mel': 4, 'nv': 5, 'vasc': 6}

In [11]:
df = pd.read_csv("../data/train_set.csv")

In [13]:
df['label'].value_counts()

label
5    4023
4     668
2     659
1     308
0     197
6      85
3      69
Name: count, dtype: int64

In [16]:
df = pd.read_csv("../data/val_set.csv")

In [17]:

df['label'].value_counts()

label
5    1341
4     222
2     220
1     103
0      65
6      29
3      23
Name: count, dtype: int64

In [18]:
df = pd.read_csv("../data/test_set.csv")

In [19]:

df['label'].value_counts()

label
5    1341
4     223
2     220
1     103
0      65
6      28
3      23
Name: count, dtype: int64